
 
/* Reset some default styles */
body, h1, h2, p {
    margin: 0;
    padding: 0;
  }
  
  /* Set background and text colors */
  body {
    background-color: #102224;
    color: #ffffff;
    font-family: Arial, sans-serif;
  }
  
  /* Header styles */
  header {
    text-align: center;
    padding: 50px 0;
  }
  
  h1 {
    font-size: 36px;
    margin-bottom: 10px;
  }
  
  /* Navigation styles */
  nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    background-color: #141414;
    padding: 10px 0;
  }
  

  nav li {
    margin: 0 20px;
  }
  
  nav a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    font-size: 18px;
  }
  
  /* Main content styles */
  main {
    text-align: center;
    padding: 30px 0;
  }
  
  .container {
    max-width: 90%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #333;
    border-radius: 10px;
    align-items: flex-start;
  }
  
 
img {
  width: 90%;
 
}

  /* Input container styles */
  .input-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .input-container label {
    font-size: 18px;
    text-align: left;
    flex: 1;
    margin-right: 10px;
  }
  
  .input-container input[type="number"],
  .input-container input[type="text"]
  {
    -moz-appearance: textfield;
    appearance: textfield;
    flex: 1;
    max-width: 200px;
    width: 100px;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    display: block;
    background-color: #dbdada;
    color: #000000;
  }
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      appearance: none;
      margin: 0;
  }
  
  .input-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; /* Выравнивание элементов по центру вертикально */
    margin-bottom: 20px;
  }
  
  .input-container .question {
    flex: 1;
    margin-right: 10px;
  }
  
  .input-container .response {
    flex: 3;
    display: flex;
    align-items: center;
  }
  .input-container .unit {
    flex: 0;
    text-align: left; /* Выравнивание единиц измерения по левому краю */
    margin-left: 10px; /* Отступ между полем ввода и единицей измерения */
  }
  
  .input-container .description {
    flex: 5;
    font-size: 15px;
    color: #999;
    text-align: left;
  }
  /* Submit button styles */
  input[type="submit"] {
    background-color: #141414;
    color: #ffffff;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    font-size: 20px;
    border-radius: 5px;
    margin-top: 20px;
    align-items: center; /* Добавьте этот стиль, чтобы кнопка была посередине */
    margin: 0 auto;
  }
  
  input[type="submit"]:hover {
    background-color: #706f74;
  }
  select {
    flex: 1;
    max-width: 200px;
    width: 100px;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    display: block;
    background-color: #dbdada;
    color: #000000;
    background-color: #dbdada;
    color: #000000;
    cursor: pointer; /* Добавляем курсор "указатель" для элемента select */
  }
  
  /* Стили для option */
  select option {
    background-color: #dbdada;
    color: #000000;
    margin: 0;
  }
  .option-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;/* Плавное изменение цветов при наведении */
}

  /* Добавьте этот код в ваш CSS файл */
.option-button.selected {
  background-color: #ffffff; /* Цвет фона выбранной кнопки */
  color: #000000; /* Цвет текста на выбранной кнопке */
}

  
  
  /* Footer styles */
  footer {
    text-align: center;
    background-color: #141414;
    padding: 10px 0;
  }
  
  footer p {
    font-size: 16px;
    color: #ffffff;
  }
  
  /* Стили для основной страницы */


/* Стили для кнопки открытия попапа */
#openPopupButton {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

/* Стили для попапа (скрытого по умолчанию) */
.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
  justify-content: center;
  align-items: center;
}

.popup-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  text-align: center;
  position: relative;
}

.close-popup-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
  color: #888;
}

